body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #3a040d;
    height: 100%;
    margin: 0;
}
#loginbox{
    width: 80%;
    max-width: 350px;
    height: auto;
    background: white;
    border-radius: 15px;
    padding: 20px;
}
.txt-input{
    padding: 8px 0px 3px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #7c1728;
    width: 100%;
}
.txt-input:placeholder-shown{
    opacity: 70%;
}
p{
    margin-top:20px;
    margin-left: 0;
}
button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border: 1px solid #3a040d;
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    max-width: 180px;
    background-color: #660f1e;
    color: white;
}
h1{
    color: aliceblue;
    text-transform: capitalize;
    text-align: center;
}
h3{
    color: aliceblue;
    text-transform: capitalize;
    text-align: center;
}
#first{
    margin-top: 50px;
}

